### Program 1

#### Joel Varghese
#### 2140232
#### 22-7-22

In this practical, we have to apply various aspects of Python like Lists, Tuples, Loops, operators, etc.
in order to create a program for the analysis in the Banking domain.

A time deposit or term deposit is a deposit in a financial institution with a specific maturity date or a period to maturity, commonly referred to as its "term". Time deposits differ from at call deposits, such as savings or checking accounts, which can be withdrawn at any time, without any notice or penalty.

Lets say we have a huge dataset describing the information of people who have a term deposit with the bank with each row representing each people. We can extract the information of each people into a list for further modification.

In [2]:
N1 = ["Jacob Thomas", "Male","33","self-employed","single",1467]

N1

['Jacob Thomas', 'Male', '33', 'self-employed', 'single', 1467]

here the variable N1 consists of the information regarding name, gender, age, job description, marital status, account balance.

now inorder to access the name and marital status of the person we can use the following code.

In [2]:
print(N1[0],N1[4])

Jacob Thomas single

Now lets say that this person has gotten married within the time he first made a term deposit to now. we need to change the status from "single" to "married". For this we can use the insert and remove function.

In [6]:
N1.remove("single")
N1

['Jacob Thomas', 'Male', '33', 'self-employed', 1467]

In [7]:
N1.insert(4,"married")
N1

['Jacob Thomas', 'Male', '33', 'self-employed', 'married', 1467]

lets say this person has deposited an addition 500 rupees to his bank account. we can make the change as follows.

In [9]:
N1[5] = N1[5] + 500
N1

['Jacob Thomas', 'Male', '33', 'self-employed', 'married', 1967]

Now if we add information about education level we can use the append function.

In [10]:
N1.append("secondary education")

In [11]:
N1

['Jacob Thomas',
 'Male',
 '33',
 'self-employed',
 'married',
 1967,
 'secondary education']

Now lets say we keep information of different people in the form of another list. This can be used to represent a sample of the dataset.

In [12]:
dataset = [["Jacob Thomas", "Male","33","self-employed","single",1467],\
    ["Jenny Will", "Female","24","student","single",1200],\
        ["Adam jones", "Male", "45","management","married",20000],
        ["Linda joseph","Female","28", "admin","married",5000]]

here the ages are in string format and need to be inverted to an int. we can do this using a loop.

In [13]:
for i in dataset:
    i[2] = int(i[2])

In [14]:
dataset

[['Jacob Thomas', 'Male', 33, 'self-employed', 'single', 1467],
 ['Jenny Will', 'Female', 24, 'student', 'single', 1200],
 ['Adam jones', 'Male', 45, 'management', 'married', 20000],
 ['Linda joseph', 'Female', 28, 'admin', 'married', 5000]]

Now lets say a year has passed since the creation of this dataset and all the ages need to b updated. we can again update each entry using a for loop.

In [15]:
for i in dataset:
    i[2] = i[2] + 1

In [16]:
dataset

[['Jacob Thomas', 'Male', 34, 'self-employed', 'single', 1467],
 ['Jenny Will', 'Female', 25, 'student', 'single', 1200],
 ['Adam jones', 'Male', 46, 'management', 'married', 20000],
 ['Linda joseph', 'Female', 29, 'admin', 'married', 5000]]

Now lets say want to display the name and job description of people who are married. we can do this using cinditional statements like "if".

In [18]:
for i in dataset:
    if (i[4] =="married"):
        print(i[0],"-",i[3])

Adam jones - management
Linda joseph - admin

Now if we want to print all the information about female account holders we can do as follows.

In [24]:
for i in dataset:
    if (i[1] =="Female"):
        for j in i:
            print(j,end = " . ")
        print()

Jenny Will . Female . 25 . student . single . 1200 .
Linda joseph . Female . 29 . admin . married . 5000 .

Now we can add the date these account holders made an account using the append function usinf a tuple.

In [25]:
for i in dataset:
    i.append((19,7,2022))

In [26]:
dataset

[['Jacob Thomas', 'Male', 34, 'self-employed', 'single', 1467, (19, 7, 2022)],
 ['Jenny Will', 'Female', 25, 'student', 'single', 1200, (19, 7, 2022)],
 ['Adam jones', 'Male', 46, 'management', 'married', 20000, (19, 7, 2022)],
 ['Linda joseph', 'Female', 29, 'admin', 'married', 5000, (19, 7, 2022)]]